
body {
  color: #353535;
}

/******************************************
* VARIABLES
*******************************************/

$spacing-unit: 50px;
$sans-serif: "Lato", sans-serif;


/* URBAN COLORS */
$cyan: #1696D2;
$gray: #D2D2D2;
$black: #000000;

$yellow: #FDBF11;
$magenta: #EC008B;

$space-gray: #5C5859;
$green: #55B748;
$red: #DB2B27;

$copy-black: #353535;

/* CYANS */
$cyan-1: #CFE8F3;
$cyan-2: #A2D4EC;
$cyan-3: #73BFE2;
$cyan-4: #46ABDB;
$cyan-5: #1696D2;
$cyan-6: #12719E;
$cyan-7: #0A4C6A;
$cyan-8: #062635;

/* GRAYS */
$gray-1: #F5F5F5;
$gray-2: #ECECEC;
$gray-3: #E3E3E3;
$gray-4: #DCDBDB;
$gray-5: #D2D2D2;
$gray-6: #9D9D9D;
$gray-7: #696969;
$gray-8: #353535;

/* ORANGE */
$orange-1: #FFF2CF;
$orange-2: #FCE39E;
$orange-3: #FDD870;
$orange-4: #FCCB41;
$orange-5: #FDBF11;
$orange-6: #E88E2D;
$orange-7: #CA5800;
$orange-8: #843215;

/* MAGENTAS */
$magenta-1: #F5CBDF;
$magenta-2: #EB99C2;
$magenta-3: #E46AA7;
$magenta-4: #E54096;
$magenta-5: #EC008B;
$magenta-6: #AF1F6B;
$magenta-7: #761548;
$magenta-8: #351123;

/* GREENS */
$green-1: #DCEDD9;
$green-2: #BCDEB4;
$green-3: #98CF90;
$green-4: #78C26D;
$green-5: #55B748;
$green-6: #408941;
$green-7: #2C5C2D;
$green-8: #1A2E19;

/* SPACE-GRAYS */
$space-gray-1: #D5D5D4;
$space-gray-2: #ADABAC;
$space-gray-3: #848081;
$space-gray-4: #5C5859;
$space-gray-5: #332D2F;
$space-gray-6: #262223;
$space-gray-7: #1A1717;
$space-gray-8: #0E0C0D;

/* REDS */
$green-1: #F8D5D4;
$green-2: #F1AAA9;
$green-3: #E9807D;
$green-4: #E25552;
$green-5: #DB2B27;
$green-6: #A4201D;
$green-7: #6E1614;
$green-8: #370B0A;


@import "header";
@import "footer";



/******************************************
* LAYOUT
*******************************************/

body {
  font-family: $sans-serif;
  font-size: 14px;
  text-align: left;
}

.check-this {
  background: red;
  color: white;
  font-weight: bold;
  padding: 0 2px;
  margin-right: 2px;
}

h1 {
  font-weight: bold;
}

.clear {
  clear: both;
}

.dateline {
  font-size: 18px;
}

.title-content {
  text-align: center;
  margin-bottom: 0.5* $spacing-unit;
  padding-top: $spacing-unit * 2;
}

#intro {
  font-size: 21px;
  font-weight: 300;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
  text-align: left;
}



/***CUSTOM****/

#bar-chart {
  display: inline;
  float: right;
}

#chart-area-container {
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: visible;
  display: inline-block;
  width: 600px;
}

#chart-frame {
    white-space: nowrap;
    display: inline-block;
    width: 700px;
}

#single-year-container, #multi-year-by-race-container, #multi-year-by-sector-container {
  width: 600px;
  display: inline-block;
}

#geography-selection {
  margin-bottom: $spacing-unit;
  margin-top: $spacing-unit;
  text-align: center;
}

#geography-selection > label > span {
  font-size: 18px;
  margin-right: 30px;
  margin-left: 5px;
}

#options-panel {
  display: inline;
  float: left;
  margin-right: 100px;
  max-width: 200px;
}

.selected {
  border: 2px solid #000000;
}


.clear {
  clear: both;
}


#scenarios {
  border-top: 1px solid $cyan-6;
  border-bottom: 1px solid $cyan-6;
  padding: 20px 0;
}

.scenario {
  float: left;
  width: 23%;
}






// radio button styles: https://scottaohara.github.io/a11y_styled_form_controls/src/radio-button/

.n-radio-label {
  display: inline-block;
  padding: .5em 0;
}

.n-radio {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; /* in case this ever gets supported */
  background: #fff;
  border-radius: 100%;
  border: 1px solid transparent;
  box-shadow:
    0 0 0 2px rgba(13,81,146, 1),
    inset 0 0 0 0px rgba(13,81,146, 0);
  display: inline-block;
  height: 1.25em;
  margin-right: .25em;
  transition:
    border-color .2s ease-in-out,
    box-shadow .2s ease-in-out;
  vertical-align: text-bottom;
  width: 1.25em;
}

.n-radio:focus {
  border-color: transparent;
  box-shadow:
    0 0 0 2px rgba(13, 81, 146, 1),
    inset 0 0 0 0px rgba(13, 81, 146, 1);
}

.n-radio:checked {
  border-color: #fff;
  box-shadow:
    0 0 0 2px rgba(34, 139, 236, 1),
    inset 0 0 0 6px rgba(13, 81, 146, 1);
}

.n-radio:checked:focus {
  box-shadow:
    0 0 0 3px rgba(34, 139, 236, 1),
    inset 0 0 0 3px rgba(13, 81, 146, 1);
}

.n-radio[disabled],
.n-radio[disabled] + span {
  opacity: .4;
}

@media screen and (-ms-high-contrast: active) {
  .n-radio:checked {
    border: 6px solid;
    box-shadow: none;
  }
}



