
body {
  color: #353535;
}

/******************************************
* VARIABLES
*******************************************/

$spacing-unit: 50px;
$sans-serif: "Lato", sans-serif;
$options-panel-width: 260px;
$options-panel-margin: $spacing-unit * 2;

/* URBAN COLORS */
$cyan: #1696D2;
$gray: #D2D2D2;
$black: #000000;

$yellow: #FDBF11;
$magenta: #EC008B;

$space-gray: #5C5859;
$green: #55B748;
$red: #DB2B27;

$copy-black: #353535;

/* CYANS */
$cyan-1: #CFE8F3;
$cyan-2: #A2D4EC;
$cyan-3: #73BFE2;
$cyan-4: #46ABDB;
$cyan-5: #1696D2;
$cyan-6: #12719E;
$cyan-7: #0A4C6A;
$cyan-8: #062635;

/* GRAYS */
$gray-1: #F5F5F5;
$gray-2: #ECECEC;
$gray-3: #E3E3E3;
$gray-4: #DCDBDB;
$gray-5: #D2D2D2;
$gray-6: #9D9D9D;
$gray-7: #696969;
$gray-8: #353535;

/* ORANGE */
$orange-1: #FFF2CF;
$orange-2: #FCE39E;
$orange-3: #FDD870;
$orange-4: #FCCB41;
$orange-5: #FDBF11;
$orange-6: #E88E2D;
$orange-7: #CA5800;
$orange-8: #843215;

/* MAGENTAS */
$magenta-1: #F5CBDF;
$magenta-2: #EB99C2;
$magenta-3: #E46AA7;
$magenta-4: #E54096;
$magenta-5: #EC008B;
$magenta-6: #AF1F6B;
$magenta-7: #761548;
$magenta-8: #351123;

/* GREENS */
$green-1: #DCEDD9;
$green-2: #BCDEB4;
$green-3: #98CF90;
$green-4: #78C26D;
$green-5: #55B748;
$green-6: #408941;
$green-7: #2C5C2D;
$green-8: #1A2E19;

/* SPACE-GRAYS */
$space-gray-1: #D5D5D4;
$space-gray-2: #ADABAC;
$space-gray-3: #848081;
$space-gray-4: #5C5859;
$space-gray-5: #332D2F;
$space-gray-6: #262223;
$space-gray-7: #1A1717;
$space-gray-8: #0E0C0D;

/* REDS */
$green-1: #F8D5D4;
$green-2: #F1AAA9;
$green-3: #E9807D;
$green-4: #E25552;
$green-5: #DB2B27;
$green-6: #A4201D;
$green-7: #6E1614;
$green-8: #370B0A;


@import "header";
@import "footer";
@import "formstyles";
// @import "checkswitch";


@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

// usage
// .my-box {
//   padding: 10px;

//   @include for-desktop-up {
//     padding: 20px;
//   }
// }


/******************************************
* LAYOUT
*******************************************/


#heroimage {
    background-image: url(../images/header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 54px;
    // margin-bottom: 450px;
}

#title-and-top {
    max-width: 900px;
    margin: 0 auto;
    width: 70%;
}

div.page-container {
  padding-top: $spacing-unit;
  margin: 0 auto;
  width: 80%;
  // position: relative;
  // bottom: 575px;
  // margin-bottom: -70px;
}

body {
  font-family: $sans-serif;
  font-size: 14px;
  text-align: left;
}

.check-this {
  background: red;
  color: white;
  font-weight: bold;
  padding: 0 2px;
  margin-right: 2px;
}

h1 {
  font-weight: bold;
}

.clear {
  clear: both;
}

.hed{
  // background: white;
  // margin-bottom: 0px;
  // padding-top: 30px;
  // padding-bottom: .5rem;
}

.dateline {
  // background: white;
  font-size: 18px;
  padding-bottom: $spacing-unit;
  // margin-bottom: 0px;
}

.title-content {
  text-align: center;
  padding-top: 450px;
}

#intro {
  font-size: 21px;
  font-weight: 300;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
  padding-top: 25px;
  text-align: left;
  // background: #fff;
}




/***CUSTOM****/
.clear {
  clear: both;
}


// scenario buttons

#scenarios {
  margin-left: 3.3%;
  padding: 20px 0;
}

p.scenario {
  margin-top: 115px;
}

.scenario {
  background-color: #ECECEC;
  float: left;
  padding: 25px 20px 20px 10px;
  width: 30%;

    img {
      float: left;
      margin-bottom: 10px;
      vertical-align: top;
      width: 120px;
    }

    h5 {
      color: $cyan-6;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }

    p {
      color: $gray-8;
      font-size: 16px;
      margin-bottom: 5px;
    }

    p.scenario-trigger {
      color: #008BB0;
      font-size: 16px;
      font-weight: 700;
      text-decoration: underline;
    }
}

#scenario2 {
  margin-left: 3%;
  margin-right: 3%;
}


// chart specific

div.tooltip {
  color: #000000;
  text-shadow:
   -1px -1px 0 #FFFFFF,  
    1px -1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
     1px 1px 0 #FFFFFF;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  padding: 1px;
  pointer-events: none;
  position: absolute;
}

div.tooltip.panelmouseover {
  background-color: #FFFFFF;
  border: 1px solid $gray-5;
  border-radius: 3px;
  color: $gray-7;
  font-style: italic;
  font-weight: 300;
  padding: 8px;
  text-shadow: none;
  width: 300px;
}

.more-info {
  background-color: $gray-5;
  border-radius: 50%;
  color: #FFFFFF;
  display: none;
  font-size: 12px;
  padding: 2px 7px;
  margin-left: 10px;
  text-align: center;

}

p.inactive > span.more-info {
  display: inline;
}

g.tick > text {
  font-size: 14px;
}

g.grid > g.tick > line {
  stroke: $gray-5;
}

g.parameter-value > text {
  fill: $cyan-6;
  font-family: Lato;
  font-weight: 700;
}

path.domain {
  display: none;
}

path.highlight-school {
  stroke: $cyan-5;
  stroke-width: 4;
}

path.other-school {
  stroke: $gray-5;
}

path.data-line.state-avg {
  stroke: #000000;
}

h4.chart-title {
  color: $gray-8;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  // text-align: center;
}
div.sector{
  display: inline-block;
  float: left;
  margin-bottom: 30px;
  margin-top: 25px;
}
#bar-chart {
  display: inline;
  float: right;
}

.bar-labels {
  fill: $gray-7;
  font-size: 11px;
}

#chart-area-container {
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: visible;
  display: inline-block;
}

.chart-div {
  display: none;
  white-space: normal;
}


#first-chart-container.chart-div{
  display: inline-block;
}
#chart-frame {
    white-space: nowrap;
    display: inline-block;
    margin-top: $spacing-unit;
}

.school-comparison {
    svg > g > path {
      stroke: $gray-6;
      stroke-width: 1;
    }

    ul.key {
      visibility: hidden;
    }

    .highlight-school {
      stroke: $cyan;
    }

}

#school-lookup {
  margin-bottom: 8px;
  width: 100%;
}

.axis-label {
  fill: $gray-6;
  font-style: italic;
}

.zero-line {
  display: none;
  stroke: $gray-6;
  stroke-width: 3;
}
.bar.y.axis{
  stroke: $black;
  stroke-width: 1px;
}


// legend
li.key-item-line, li.key-item-bar, li.key-item-comparison {
  color: $gray-7;
  display: inline-block;
  margin: 0 1em 1em 0;
  padding: 0 0 0 3px;
  line-height: 1em;
}

.key {
  padding-left: 0;
  margin: 1em 0 1em 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

// menu panel styling

.disable-box {
  background-color: rgba(255,255,255,0.7);
    display: none;
    height: 90px;
    position: absolute;
    right: -1px;
    top: 20px;
    width: 265px;
    z-index: 2;
}

#year-input > svg > g > g.slider > g > path {
  fill: $cyan-6;
  stroke: $cyan-6;
}

#year-input > svg > g > g.slider > line.track-inset {
  stroke: $gray-4;
}

#year-input > svg > g > g.slider > line.track {
  stroke: $gray-4;
}

#year-input > svg > g > g.axis > g > line {
  stroke: none;
}

h4.selection-label {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}


p.button-title {
  margin: 0;
}

p.program-length-hed {
  font-size: 16px;
  font-weight: 700;
  margin-top: .5rem;
  margin-bottom: 0;
}

p.program-length-hed.two-year {
  margin-top: 45px;
}

p.program-type {
  font-weight: 700;
  margin-top: 14px;
  margin-bottom: 0;
}

label {
  margin-bottom: 0;
}

label.check-switch {
  margin-bottom: 0;
  padding-left: 0px;
  text-transform: uppercase;
}

label.inactive:before {
  border-color: $gray-4;
  box-shadow: 0 0 0 1px $gray-4;
}

.be-choosy {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}

.c-cb, .n-radio, {
  margin-left: 10px;
  margin-top: 8px;
}

.race-ethnicity-radios {
  margin-top: 6px;
}

.n-radio-label > span {
  padding-left: 3px;
}

#comparison-menu > .race-ethnicity-checkboxes {
  margin-left: 10px;
  margin-top: 6px;
}

#dropdown {
  display: none;
}

#dropdown-button > span.ui-selectmenu-icon.ui-icon.ui-icon-triangle-1-s {
  display: none;
}

#state-menu {
  display: none;
}

#dropdown-button {
      -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;   /* remove default arrow */
    width: $options-panel-width;
    height: 37px;
    box-sizing: border-box;
    /*background: #ffffff;*/
    border: 1px solid #d2d2d2;
    border-radius: 0;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    color: #1696d2;
    cursor: pointer;
    /*padding-left: 10px;*/
    background: url("../images/arrow.png") 96% / 15% no-repeat #ffffff;
    background-size: auto;
    margin: 0 0 25px 0;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button.ui-state-active:hover {
    /* border: 1px solid #003eff; */
    font-family: Lato;
    background: #1696d2;
    font-weight: normal;
    color: #ffffff;
}

select::-ms-expand {
    display: none;
}

/* https://stackoverflow.com/questions/17553300/change-ie-background-color-on-unopened-focused-select-box */
select:focus::-ms-value {
    color: #1696d2;
    background: none;
}

#stateDropdown-menu,
#schoolDropdown-menu {
    max-height: 200px;
}

.ui-selectmenu-text {
    font-size: 16px;
    color: $gray-8;
    
    font-family: Lato;
}

#geography-selection {
  margin-bottom: $spacing-unit;
  margin-top: $spacing-unit;
  text-align: center;
}

#geography-selection > div {
  cursor: pointer;
  display: inline;
  padding: 5px;
}

#geography-selection > div.selected > span {
  color: $cyan-6;
  font-weight: 700;
}

#geography-selection > div > span {
  color: $gray-6;
  font-size: 26px;
  margin-right: 30px;
  margin-left: 5px;
  text-transform: uppercase;
}

.explainer {
  color: $gray-6;
  font-size: 16px;
  font-style: italic;
  line-height: 1.1;
  margin-bottom: 25px;
}

.inactive {
  color: $gray-6;
}


.main-choice {
  display: block;
  font-size: 18px;
}

.collapsible {
    padding-bottom: $spacing-unit/2;
}

.collapsed {
  display: none;
}

.minimize {
  color: $gray-6;
  cursor: pointer;
  font-size: 30px;
  font-weight: 300;
  left: 110px;
  position: relative;
}

#options-panel {
  display: inline;
  float: left;
  margin-right: $options-panel-margin;
  margin-top: $spacing-unit;
  width: $options-panel-width;
}

.options-panel-section {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  // text-transform: uppercase;
}

#school-selection {
  display: none;
}

#second-dynamic-menu > label, #first-dynamic-menu > label {
  display: block;
  margin-bottom: 0.25rem;
}

#first-dynamic-menu, #second-dynamic-menu, #comparison-menu {
  border-top: 1px solid $gray-5;
}


#second-dynamic-menu > div > div > label > span, #first-dynamic-menu > div > div > label > span,
#comparison-menu > div > div > label > span, #first-dynamic-menu > div > label > span {
  padding-left: 5px;
}

.sub-choices {
  margin-left: 30px;
}

#time-selection {
  // border-bottom: 1px solid $gray-5;
  padding-bottom: 35px;
  width: 100%;
}

.time-selector {
  color: $gray-6;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  position: relative;
  text-transform: uppercase;
    img {
    padding-right: 10px;
  }
}

.time-selector.selected > span {
  color: $cyan-6;
  font-weight: 700;
  vertical-align: middle;
}

.time-selector.sub-choice {
  background-color: $gray-2;
  // border: 1px solid $gray-5;
  border-radius: 1px;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  height: 45px;
  line-height: 1.1;
  margin-top: 15px;
  margin-right: 10px;
  padding: 3px 5px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: 118px;
}

.time-selector.sub-choice.selected > span {
  color: #ffffff;
}

.time-selector.sub-choice.selected {
  background: $cyan-6;
  border: 1px solid $cyan-6;
  color: #FFFFFF;
}

#year-selector {
  margin-bottom: 10px;
  margin-top: 10px;
}

//checkswitch: https://codepen.io/mburnette/pen/LxNxNg

p.label {
  color: $gray-7;
  display: inline;
  font-weight: 700;
  padding-right: 41px;
  text-transform: uppercase;
}


input#school-comparison[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
  margin-bottom: 20px;  
}

label.check-switch {
  cursor: pointer;
  text-indent: -9999px;
  width: 53px;
  height: 30px;
  background: $gray-5;
  display: inline-block;
  border-radius: 100px;
  position: relative;
  top: 10px;
}

label.check-switch:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input#school-comparison:checked + label {
  background: $cyan-6;
}

input#school-comparison:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label.check-switch:active:after {
  width: 130px;
}

// centering
// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
// }


















